doctype html
html
  head
    title Algoritmo Cibo
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css')
    style.
      body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        text-align: center;
        font-family: Arial, sans-serif;
        margin: 0;
        background-color: #f8f9fa;
      }
      .container {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        background: #fff;
        padding: 30px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        max-width: 900px;
        width: 100%;
        margin: 20px;
      }
      .form-container, .info-container {
        width: 48%;
      }
      h1 {
        margin-bottom: 20px;
      }
      .form-group {
        margin-bottom: 15px;
      }
      .btn-primary, .btn-secondary {
        width: 100%;
      }
      .btn-pending {
        background-color: #dc3545; /* Red color for pending orders */
        width: 100%;
        color: #fff;
      }
      .disabled {
        pointer-events: none;
        opacity: 0.6;
      }
      .auth-buttons {
        margin-top: 20px;
      }
  body
    .container
      .form-container
        h1 Calcolatrice orario di consegna
        form(action="/calculate" method="POST")
          .form-group
            label(for="timeSent") Orario di invio:
            input.form-control(type="text" id="timeSent" name="timeSent" required placeholder='HH:MM')
          .form-group
            label(for="peopleCount") Quante persone hanno ordinato?
            input.form-control(type="number" id="peopleCount" name="peopleCount" min=0 value=0 required)
          .form-group
            label(for="kebabCount") Numero di kebab:
            input.form-control(type="number" id="kebabCount" name="kebabCount" min=0 value=0 required)
          .form-group
            label(for="roundPizzaCount") Numero di pizze tonde:
            input.form-control(type="number" id="roundPizzaCount" name="roundPizzaCount" min=0 value=0 required)
          .form-group
            label(for="saladCount") Numero di insalate:
            input.form-control(type="number" id="saladCount" name="saladCount" min=0 value=0 required)
          .form-group
            label(for="slicedPizzaCount") Numero di pizza bianca:
            input.form-control(type="number" id="slicedPizzaCount" name="slicedPizzaCount" min=0 value=0 required)
          .form-group
            label(for="hotFoodCount") Numero di cibo che va riscaldato:
            input.form-control(type="number" id="hotFoodCount" name="hotFoodCount" min=0 value=0 required)
          .form-group
            if user
              button.btn.btn-primary(type="submit") Calcola e salva
            if !user
              button.btn.btn-primary(type="submit") Calcola
      .info-container
        h1.mt-4 Gestione Ordini
        if !user
          p.text-danger Per favore, accedi per salvare i tuoi ordini.
        if user
          form(action="/orders")
            .form-group
              if pendingOrders > 0
                button.btn.btn-pending(type="submit") Ordini in pending (#{pendingOrders})
              else
                button.btn.btn-primary(type="submit") Ordini in pending
          form(action="/history")
            .form-group
              button.btn.btn-secondary(type="submit") Storico ordini
        if !user
          .auth-buttons
            a.btn.btn-primary(href='/login') Login
            a.btn.btn-secondary.mt-2(href='/register') Registrati
        if message
          h2= message
    script(src='https://code.jquery.com/jquery-3.5.1.slim.min.js')
    script(src='https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js')
